<form class="reservation-form">
    <mat-form-field class="title w-50">
      <mat-label>Titre de l'évènement</mat-label>
      <input matInput type="text" name="title" [(ngModel)]="eventDetails.title">
    </mat-form-field>

    <mat-form-field class="place w-50">
        <mat-label>Lieu</mat-label>
        <input matInput type="text" name="location" [(ngModel)]="eventDetails.location">
      </mat-form-field>
  
    <mat-form-field class="description w-50">
      <mat-label>Description</mat-label>
      <textarea matInput type="text" name="description" [(ngModel)]="eventDetails.description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="date-picker">
        <mat-label>Dates de la réservation</mat-label>
        <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
          <input matStartDate formControlName="date_start" placeholder="Début" [(ngModel)]="eventDetails.date_start">
          <input matEndDate formControlName="date_end" placeholder="Fin" [(ngModel)]="eventDetails.date_end">
        </mat-date-range-input>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
  </form>

  <h4>Ajouter une réservation</h4>
  <!-- Form réservation -->