body{
    padding: 10px;
}
.tab{

    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.443); 
    font: bolder;
    text-decoration: none;
    color: white;

 }

 nav{
    display: block;
    padding: 20px;
 }
 .tab:hover,
 .tab:focus {
   box-shadow: 0 0.5em 0.5em -0.4em var(--hover-color);
   transform: translateY(-0.25em);
 }