body{
    padding: 10px;
}
.tab{

    padding: 10px 20px;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.443); 
    font: bolder;
    text-decoration: none;
    color: white;

 }

 nav{
    display: block;
    padding: 20px;
 }
 .composant{
}