.conteneur {
    width: 100%;
    border: solid green;
}

td,
tr,
th {
    padding: 0.75rem;
    border-top: 1px solid #434343;
    white-space: nowrap;
    overflow: hidden;
    width: 250px;
    min-width: 250px;
}

th {
    min-width: 20px;
    width: 20px;
}

button {
    width: 100px;
}