@import '../../../styles.var.scss';
body{
    padding: 10px;
}
.tab{

    padding: 10px 20px;
    margin: 5px;
    background-color: var(--elementBackgroundColor); 
    font: bolder;
    text-decoration: none;
    border-radius: 10px;

 }

 nav{
    display: block;
    padding: 20px;
 }
 .tab:hover,
 .tab:focus,
 .selected {
   box-shadow: 0 0.5em 0.5em -0.4em var(--lowImpact);
   transform: translateY(-0.25em);
 }