<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>Matériel</th>
      <th>Description</th>
      <th>Propriétaire</th>
      <th>Etat</th>
      <th>Prix/j</th>
      <th>Prix unitaire</th>
    </tr>
  </thead>
</table>
<div *ngFor="let section of sections" class="section-box"
  [ngClass]="{ 'collapsed': section.isCollapsed }">
  <h3 (click)="toggleSection(section)">

    <button type="button" class="collapsible">{{ section.label }}</button>
  </h3>
  <div class="section-equipment-content" [hidden]="section.isCollapsed">

    <table class="table table-dark table-striped">
      <tbody>
        <!-- TODO un composant par ligne de matériel? probablement non, a méditer, sur oui pour le détail
          TODO boutons ajouter supprimer matériel 
          tr *ngFor="let row of rows;  let i = index;">
            <td>{{i+1}}</td>
            <td>{{ row.firstname +" "+ row.name}}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.phone}}</td>
            <td>{{ row.address}}</td>
            <td class="actions"><button class="btn btn-info btn-sm" (click)="seeUserDetails( row.user_id )">voir la fiche</button></td>
            <td class="actions"><button class="btn btn-danger btn-sm" (click)="deleteUser(row.user_id)">supprimer</button></td>
        </tr-->
      </tbody>
    </table>
  </div>
</div>