<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Prénom Nom</th>
            <th>E-mail</th>
            <th>Téléphone</th>
            <th >Adresse</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of rows;  let i = index;">
            <td>{{i+1}}</td>
            <td>{{ row.firstname +" "+ row.name}}</td>
            <td>{{ row.email }}</td>
            <td>{{ row.phone}}</td>
            <td>{{ row.address}}</td>
            <td class="actions"><button class="btn btn-info btn-sm" (click)="voirFicheCompte( row.user_id )">voir la fiche</button></td>
            <td class="actions"><button class="btn btn-danger btn-sm">supprimer</button></td>
    </tr>
  </tbody>
</table>