:root {
    --backgroundColor: rgb(13, 13, 13);
    --elementBackgroundColor: rgb(71, 71, 71);
    --highlights: rgba(155, 155, 155, 0.614); //hovers
    --text: rgb(229, 229, 229);
    --lowImpact: rgba(72, 255, 0, 0.752); // low impact actions, informations
    --danger: rgb(255, 0, 0); //pour les danger, comme supprimer un compte
    --transitionTime: 0.3s;
    --rounding: 15px;
}
    