/* You can add global styles to this file, and also import other style files */
:root {
  --backgroundColor: rgb(13, 13, 13);
  --elementBackgroundColor: rgb(71, 71, 71);
  --highlights: rgba(155, 155, 155, 0.614); //hovers
  --text: rgb(229, 229, 229);
  --lowImpact: rgb(0, 238, 255); // low impact actions, informations
  --danger: rgb(255, 0, 0); //pour les danger, comme supprimer un compte
  --transitionTime: 0.3s;
  --rounding: 15px;
}

::selection {
    background-color: var(--surlignage);
}

html, body {
     color: var(--texte) !important;
     background-color: var(--fond) !important;
    transition: var(--tps-transition);
}

.mat-mdc-snack-bar-container {
    //bouton
    --mat-mdc-snack-bar-button-color: #ffffff;
    //texte
    --mdc-snackbar-supporting-text-color: #ffffff;
  
    &.fail-snackbar {
        //background
      --mdc-snackbar-container-color: #f23a2f;
    }
  
    &.success-snackbar {
      --mdc-snackbar-container-color: #43a446;
    }
  }

  .mat-expansion-panel-header-description, 
.mat-expansion-indicator::after {
    color: white;
}
  