@import './styles.var.scss';

::selection {
    background-color: var(--highlights);
}

  
* {
  color: var(--text);
  background-color: var(--backgroundColor);
  transition: var(--transitionTime) ease-in-out;
}

.mat-mdc-snack-bar-container {
  background: none;
    //button
    --mat-mdc-snack-bar-button-color: #ffffff;
    //text
    --mdc-snackbar-supporting-text-color: #ffffff;
  
    &.fail-snackbar {
        //background
      --mdc-snackbar-container-color: #f23a2f;
    }
  
    &.success-snackbar {
      --mdc-snackbar-container-color: #43a446;
    }
  }

  .mat-expansion-panel-header-description, 
.mat-expansion-indicator::after {
    color: white;
}

