mat-panel-title {
    font-size: 1.3em;
    color: white;
}

mat-expansion-panel-header {
    background-color: #212529 !important;
    margin: 1em;
}

mat-expansion-panel {
    background-color: var(--fond) !important;
}

.reservation {
    margin: 1em;
}

.btn{
    border-radius: var(--arrondi);
}
.actions{
    text-align: center;
    width: 8%;
}
td{
    white-space: nowrap;
    overflow:hidden;
}